# Accessing and Modifying the Index

In [3]:
import pandas as pd
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}
df = pd.DataFrame(data)
print(df.index)  # Accessing the index

RangeIndex(start=0, stop=5, step=1)

# Setting a Custom Index

In [4]:
# Set 'Name' column as the index
df_with_index = df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

# Resetting the Index

In [5]:
# Reset the index back to the default integer index
df_reset = df.reset_index()
print(df_reset)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000

# Indexing with loc

In [ ]:
df.set_index('Name', inplace=True)
row = df.loc['Alice']
print(row)

Age           30
Gender    Female
Salary     55000
Name: Alice, dtype: object

# Changing the Index

In [9]:
# Set 'Age' as the new index
df_with_new_index = df.set_index('Age')
print(df_with_new_index)

     Gender  Salary
Age
25     Male   50000
30   Female   55000
22     Male   40000
35   Female   70000
28     Male   48000